<% provide :title, 'お問い合わせ' %>
<html lang="ja">
 <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/lists.css">
    <link rel="stylesheet" type="text/css" href="/contacts.css">
 </head>
 <body>
    <header  class="heading">
     <a href="/lists/top" class="top"><span>T</span><span>トップ</span></a>
     <a href="/lists/profile" class="top2"><span>ABOUT ME</span><span>私について</span></a>
     <a href="/contacts" class="top3"><span>content</span><span>問い合わせ</span></a>
   </header>
   <h2 class="title">お問い合わせ</h2>
    <div class="main-v">
    <%= form_with model: @contact, local: true, url: contacts_confirm_path do |f| %>
      <% if @contact.errors.any? %>
      <div class="alert alert-danger" role="alert">
       <h5><strong>入力内容にエラーがあります。</strong></h5>
       <ul>
         <% @contact.errors.full_messages.each do |message| %>
           <li><%= message %></li>
         <% end %>
       </ul>
      </div>
      <% end %>
      
      <div class="form-group">
        <%= f.label :name, '名前' %>
          <span class="textbox-001-label">必須</span>
          <%= f.text_field :name, id: 'name', class: 'form-control', :placeholder => '山田 花子' %>
        </div>

        <div class="form-group">
          <%= f.label :email, 'メールアドレス' %>
          <span class="badge badge-info rounded-0">必須</span>
          <small class="text-muted">例：user@example.com</small>
          <%= f.text_field :email, id: 'email', class: 'form-control', :placeholder => 'メールアドレス' %>
        </div>

        <div class="form-group">
          <%= f.label :message, 'お問い合わせ内容' %>
          <span class="badge badge-info rounded-0">必須</span>
          <small class="text-muted">パスワードなどの機密情報を含めないでください。</small>
          <%= f.text_area :message, id: 'content', class: 'form-control', :placeholder => 'お問い合わせ内容', :rows => '5' %>
        </div>

        <div class="float-right">
          <%= f.submit "確認", class: "btn btn-dark" %>
        </div>
      <% end %>

    </div>
 </body>
</html>